<div class="Featured_Container">
    <div class="container">
        <div class="Featured_Title mx-auto text-center">
            <h2>Featured <span class="text-info">Products</span></h2>
            <p class="mx-auto w-75">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi nihil tenetur earum obcaecati at laborum libero ad eius, dolor praesentium dolorem placeat delectus hic? Consequatur assumenda debitis esse at. Doloribus!</p>
        </div>
        <div class="F_Products">
            <div class="row">
                <div class="col-lg-3 col-md-4 mb-4">
                    <div class="Product">
                        <img class="Product_Img" src="../../../assets/images/Feautured_images/cheerful-man-wearing-sunglasses_171337-14984.jpg" alt="">
                        <div>Product Title</div>
                    </div>
                   
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                    <div class="Product">
                        <img class="Product_Img" src="../../../assets/images/Feautured_images/full-length-shot-woman-floral-print-dress-charming-lady-with-wavy-hair-bright-summer-outfit-poses-isolated-background_197531-18751.jpg" alt="">
                        <div>Product Title</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                    <div class="Product">
                        <img class="Product_Img" src="../../../assets/images/Feautured_images/skater-boy-posing-with-skateboard_23-2147670748.jpg" alt="">
                        <div>Product Title</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                    <div class="Product">
                        <img class="Product_Img" src="../../../assets/images/Feautured_images/young-woman-beautiful-red-dress_1303-17506.avif" alt="">
                        <div>Product Title</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                    <div class="Product">
                        <img class="Product_Img" src="../../../assets/images/Feautured_images/young-woman-beautiful-red-dress_1303-17506.avif" alt="">
                        <div>Product Title</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                    <div class="Product">
                        <img class="Product_Img" src="../../../assets/images/Feautured_images/young-woman-beautiful-red-dress_1303-17506.avif" alt="">
                        <div>Product Title</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="Product">
                        <img class="Product_Img" src="../../../assets/images/Feautured_images/young-woman-beautiful-red-dress_1303-17506.avif" alt="">
                        <div>Product Title</div>
                    </div>
                </div>
            </div>
        </div>
        <div >
            <div class="mx-auto View_All">
                View All Products
            </div>
        </div>
    </div>

</div>