<footer >
    <div class="footer_content">
        <div class="container mx-auto pt-3 row">
            <div class="col-4">
                <h4 class="text-white">
                    Fashion <span class="text-info">Store</span>
                </h4>
                <p class="Store_cnt text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque distinctio mollitia ducimus aspernatur, rerum iste, quaerat dicta velit incidunt laborum ex modi harum quis magni similique dolorum magnam! Voluptatibus, recusandae.</p>
            </div>
            <div class="col-4 d-flex justify-content-between">
                <div class="Quick_Links">
                    <h5 class="mb-3">Quick Links</h5>
                    <p class="mb-2 p-0">Home</p>
                    <p class="mb-2 p-0">Products</p>
                    <p class="mb-2 p-0">Shop</p>
                    <p class="mb-2 p-0">About Us</p>
                </div>
                <div class="Categories">
                    <h5 class="mb-3">Categories</h5>
                    <p class="mb-2 p-0">Men</p>
                    <p class="mb-2 p-0">Women</p>
                    <p class="mb-2 p-0">Kids</p>
                    <p class="mb-2 p-0">Newest</p>
                </div>
            </div>
            <div class="col-4">
                <div class="Contact">
                    <h5>Contact</h5>
                    <p>Contact : 9790406258</p>
                    <p>Email : fashion@gmail.com</p>
                    <p>Address: 4, Brooklyn</p>
                </div>
            </div>
        </div>
    </div>
</footer>