.footer_content{
    background-color: rgb(1, 24, 83);
    height: max-content;
    width: 100%;
    .Store_cnt{
        font-size: 13px;
        width: 75%;
    }   
}
.Quick_Links{
    color: white;
}
.Categories{
    color: white;
}
.Contact{
    color: white;
}