<body >
    <!-- Navbar -->
<div class="Home_Cn">


<div >
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse  navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item mx-2">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</div>


<!-- Carousel -->

<div id="carouselExampleCaptions" data-bs-ride="carousel" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      
      <div class="carousel-item active">
        <img  src="../../assets/images/Banner_images/high-fashion-portrait-young-beautiful-brunette-woman-wearing-nice-pink-summer-suit_158538-19508.jpg" class="d-block banner_image w-100" alt="...">
        <div class="content-right-black carousel-caption d-none d-md-block">
          <h1>Second slide label</h1>
          <p>Some representative placeholder content for the second slide.</p>
          <div class="Shop_now mx-auto">
             <h5 class="my-auto p-2"> SHOP NOW  </h5>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <img   src="../../assets/images/Banner_images/stylish-happy-girl-shopping-portrait-modern-woman-with-shop-bag-laughing-smiling-satisfied.jpg" class="d-block banner_image w-100" alt="...">
        <div class="content-right-white carousel-caption d-none d-md-block">
          <h1>Discover & Shop the trend </h1>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img  src="../../assets/images/Banner_images/funny-tourist-dancing-vacation-pointing-fingers-up-wearing-summer-hat-sunglasses-blue-backgro_1258-158956.jpg" class="d-block banner_image w-100" alt="...">
        <div class="content-left-black carousel-caption d-none d-md-block">
          <h1>Third slide label</h1>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<!-- About Our Shop -->


<div class="About_Shop container">
    <div class="row">
        <div class="col-4">
            <div class="About_Image">
                <img  src="../../assets/images/About_Shop/cheerful-guy-saying-yes-raising-fist-pump-smiling-holding-orange-shopping-bag-feeling-joy-after_1258-173903.jpg" alt="">
            </div>
        </div>
        <div class="col-8">
            <div class="About_Content">
                <h3>About <span class="text-info">Our Shop</span></h3>
                
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, a hic placeat nostrum optio sed, impedit quis quaerat, magnam perspiciatis repellendus cupiditate nisi voluptatibus rem excepturi cumque totam libero eligendi!
                </p>
            </div>
        </div>
    </div>
</div>

<app-featured-products></app-featured-products>


<div class="discount_banner mt-4">
    <div>
      <img class="discount_img" src="../../assets/images/Banner_images/young-happy-woman-shopper-showing-okay-sign-pleased-with-good-discounts-buying-staff-sale-holding.jpg" alt="">
    </div>
</div>
</div>
<app-footer></app-footer>
</body>